<h2>Create New Ticket</h2>

<div class="form-box">
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
    <label>Title</label>
    <input formControlName="title">

    <label>Description</label>
    <textarea rows="4" formControlName="description"></textarea>

    <label>Priority</label>
    <select formControlName="priority">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>

    <button type="submit">Save Ticket</button>
  </form>
</div>
